@model User

<div class="text-center">
  <h2>@Model.FullName()<span>'s Page</span></h2>
  <p>Member since: @Model.CreatedAt</p>
</div>

<hr>

@foreach (Post post in Model.Posts)
{
    <div class="card mx-auto text-center mb-3 w-50">
      <div class="card-header">
        <h5 class="card-title">
          @post.Topic
        </h5>
      </div>

      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
          by: @post.Author.FullName()
        </h6>
        <p class="card-text">
          @post.Body
        </p>
        @if (post.ImgUrl != null)
        {
          <img class="w-100" src="@post.ImgUrl" alt="Post">
        }
      </div>

      <div class="card-footer">
        @* asp-route-paramName=@paramValue *@
        <a 
          asp-controller="Posts"
          asp-action="Details"
          asp-route-id="@post.PostId"
          class="btn btn-info">
          View Details
        </a>
        <a 
          asp-controller="Posts"
          asp-action="Edit"
          asp-route-id="@post.PostId"
          class="btn btn-warning">
          Edit
        </a>
        <a 
          asp-controller="Posts"
          asp-action="Delete"
          asp-route-id="@post.PostId"
          class="btn btn-danger">
          Delete
        </a>
        @* without tag helpers the href will not update if you change the url in the controller *@
        @* <a 
          href="/posts/@post.PostId"
          class="btn btn-info">
          View Details
        </a> *@
      </div>
    </div>
}