@* 
  @model lowercase m to specify the data type of the view model
  @Model capital m to access the data
*@

@model Post

@{
  IEnumerable<Vote> upvotes = Model.Votes.Where(vote => vote.IsUpvote == true);
  IEnumerable<Vote> downvotes = Model.Votes.Where(vote => vote.IsUpvote == false);
}

<div class="container">
    <div class="card mx-auto text-center mb-3 w-50">
      <div class="card-header">
        <h5 class="card-title">
          @Model.Topic
        </h5>
      </div>

      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
          <a asp-controller="Home" asp-action="Profile" asp-route-id="@Model.Author.UserId">
            by: @Model.Author.FullName()
          </a>
        </h6>
        <p class="card-text">
          @Model.Body
        </p>
        @if (Model.ImgUrl != null)
        {
          <img class="w-100" src="@Model.ImgUrl" alt="Post">
        }
      </div>

      <div class="card-footer">
        <div>
          <p>@upvotes.ToList().Count Up voters: @String.Join(", ", upvotes.Select(vote => vote.Voter.FullName()))</p>
          <hr>
          
          <p>@downvotes.ToList().Count Down voters: @String.Join(", ", downvotes.Select(vote => vote.Voter.FullName()))</p>
          <hr>
          
          <p>All Voters:</p>
          @foreach(Vote vote in Model.Votes)
          {
            <span>@vote.Voter.FullName(), </span>
          }
          
          <hr>
        </div>
        
        @* asp-route-paramName=@paramValue *@
        <a 
          asp-controller="Posts"
          asp-action="Details"
          asp-route-id="@Model.PostId"
          class="btn btn-info">
          View Details
        </a>
        <a 
          asp-controller="Posts"
          asp-action="Edit"
          asp-route-id="@Model.PostId"
          class="btn btn-warning">
          Edit
        </a>
        <a 
          asp-controller="Posts"
          asp-action="Delete"
          asp-route-id="@Model.PostId"
          class="btn btn-danger">
          Delete
        </a>
        @* without tag helpers the href will not update if you change the url in the controller *@
        @* <a 
          href="/posts/@Model.PostId"
          class="btn btn-info">
          View Details
        </a> *@
      </div>
    </div>
</div>