@model List<FoodTruck>

@{
  int? uid = Context.Session.GetInt32("UserId");
}

<div class="container w-75 mx-auto p-3">
  @foreach (FoodTruck truck in Model)
  {
      <div class="row bg-light p-3 mt-3">
        <div class="col-md-3">
          <img class="w-100" src="https://image.flaticon.com/icons/png/512/683/683071.png" alt="Truck">
        </div>

        <div class="col-md-6">
          <h2>@truck.Name</h2>
          <p>Style: @truck.Style</p>
          <p>Average Rating: TODO</p>
        </div>

        <div class="col-md-3">
          @* only show if logged in user is creator of truck *@
          @if (uid == truck.UserId)
          {
            <a asp-controller="FoodTrucks" asp-action="Edit" asp-route-foodTruckId="@truck.FoodTruckId" class="btn btn-info">edit</a>
          }
          <a asp-controller="FoodTrucks" asp-action="Details" asp-route-foodTruckId="@truck.FoodTruckId" class="btn btn-success">review</a>
        </div>


        <small class="text-muted">Uploaded by @truck.UploadedBy.FullName() on @truck.CreatedAt.ToString("MMMM dd yyyy")</small>
      </div>
  }
</div>